body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    background: #f4f4f4;
}

header {
    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 60px;
    background: white;
}

.hero button {
    padding: 10px 20px;
    border: none;
    background: blue;
    color: white;
    cursor: pointer;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

.card {
    background: white;
    padding: 20px;
    width: 250px;
    box-shadow: 0 0 10px gray;
    text-align: center;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
}